.div-task {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: #198754b9;
  }

  .task-name a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .btnDanger,
  .btnSuccess {
    cursor: pointer;
    font-size: 0.8rem;
  }
}

.accordion-item {
  border: none;
}

.accordion-button {
  border: 3px solid #198754;
}

.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush
  > .accordion-item
  > .accordion-header
  .accordion-button.collapsed {
  border-radius: 15px;
}

.accordion-button:not(.collapsed) {
  background: #19875424;
  color: #006737;
}

.accordion-button:focus {
  box-shadow: none;
}
