a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.div-task {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: #198754b9;
  }

  .btnDanger,
  .btnSuccess {
    cursor: pointer;
    font-size: 0.8rem;
  }
}

.accordion-item {
  border: none;
}

.accordion-button {
  border: 3px solid #198754;
}

.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush
  > .accordion-item
  > .accordion-header
  .accordion-button.collapsed {
  border-radius: 15px;
}

.accordion-button:not(.collapsed) {
  background: #19875424;
  color: #006737;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding: 0rem;
}

.moyenne span a {
  color: #cb7144;
  font-weight: 700;
}

.importante span a {
  color: #cb4444;
  font-weight: 900;
}
